.header{
  border-bottom: 1px solid #723600;

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  mat-toolbar a {
    font-size: 18px;
    color: var(--secondary-text);
    text-decoration: none;
  }

  mat-toolbar a.active {
    color: var(--accent-text);
  }

  .spacer {
    flex-grow: 1;
  }

  .translate{
    color: var(--accent-text);
  }

  .slider-text{
    color: var(--accent-text)
  }
}

